﻿@{
    ViewBag.Title = "Usage";
    ViewBag.Subtitle = "API call Examples";
}

<div>
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Subtitle</h3>
    
    This is an API First Service, so basically everything is available via API calls.
 
    <p>

        Of course, what you get back depends on your Permissions (determined by your Roles)
    </p>
    
    <p>
        
    The following are core apis, independent of the business specific logic.
    (an app needs the following whether we're talking about a single Business api, or many):
    </p>
 
    <p class="lead">
        <ul>
            <li>@Html.ActionLink("Metadata", "Metadata", "Usage")</li>
            <li>@Html.ActionLink("Misc Examples", "MiscExamples", "Usage")</li>
            <li>@Html.ActionLink("Configuration", "ConfigurationStepRecord", "Usage")</li>
            <li>@Html.ActionLink("Exceptions", "Exception", "Usage")</li>
            <li>@Html.ActionLink("Data Classifications", "DataClassification", "Usage")</li>
            <li>@Html.ActionLink("Tenant", "Tenant", "Usage")</li>
            <li>@Html.ActionLink("Principals", "Principal", "Usage")</li>
            <li>@Html.ActionLink("Roles", "Role", "Usage")</li>
            <li>@Html.ActionLink("Sessions", "Session", "Usage")</li>
            <li>@Html.ActionLink("Session Operations", "SessionOperation", "Usage")</li>
            <li>@Html.ActionLink("Notifications", "Notification", "Usage")</li>
            <li>@Html.ActionLink("Uploaded Media", "MediaMetadata", "Usage")</li>

        </ul>
        Some more:
        <ul>
            <li><a target="_apis" href="~/OData/core/applicationdescription/">Application Description</a></li>
        </ul>
        The following are Business specific.
        <ul>

            <!-- different Modules -->
            <li>@Html.ActionLink("Education Organisations", "EducationOrganisation", "Usage")</li>
            <li>@Html.ActionLink("Generic Organisations", "Organisation", "Usage")</li>
            <li>@Html.ActionLink("Persons", "Person", "Usage")</li>
        </ul>
        Referencial Data endpoints include:
        <ul>
            <li><a target="_apis" href="~/OData/module2/schoolauthority/">School Authority</a></li>
            <li><a target="_apis" href="~/OData/module2/schooldecile/">School Decile</a></li>
            <li><a target="_apis" href="~/OData/module2/schooldefinition/">School Definition</a></li>
            <li><a target="_apis" href="~/OData/module2/schooleducationregion/">School Education Region</a></li>
            <li><a target="_apis" href="~/OData/module2/schoolgender/">School Gender</a></li>
            <li><a target="_apis" href="~/OData/module2/schoolgeneralelectorate/">School General Electorate</a></li>
            <li><a target="_apis" href="~/OData/module2/schoolmaorielectorate/">School Maori Electorate</a></li>
            <li><a target="_apis" href="~/OData/module2/schoolministryofeducationlocaloffice/">School Ministry of Education Local Office</a></li>
            <li><a target="_apis" href="~/OData/module2/schoolregionalcouncil/">School Regional Council</a></li>
            <li><a target="_apis" href="~/OData/module2/schoolterritorialauthority/">School Territory Authority</a></li>
            <li><a target="_apis" href="~/OData/module2/schooltype/">School Type</a></li>
        </ul>
    </p>
</div>

