﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Base API Service Environment (BASE)</h1>
    <p class="lead">
        <a hre>The @Html.ActionLink("Purpose", "Purpose", "About") is to provide a base for building secure enterprise grade API-First Services with the following characteristics:
        <ul>
            <li>
                @Html.ActionLink("Security", "Security", "About")
                <ul>
                    <li>@Html.ActionLink("OIDC", "OIDC", "About") authentication ready</li>
                    <li>In transit security enforced using Secure communication channel (TLS 1.2 HTTPS)and Secure cookie handling (Secure and HttpOnly cookies)</li>
                    <li>Data classified resources protected by enforcing Role based Access Controls (RBAC)</li>
                    <li>At rest security enforced by persist data at rest in encrypted formats.</li>
                    <li>Leverages AAD based integrated security, minimizing reliance on leakable Secrets.</li>
                </ul>
            </li>
            <li>
                Resilient Design:
                <ul>
                    <li>Stateless load balancing and dynamic horizontal scaling.</li>
                    <li>DoS attack protection applied at both the system and enviroment level.</li>
                    <li>uploaded media is scanned for malware before being persisted, and periodically afterwards.</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("API First", "APIFirst", "About")
                <ul>
                    <li>Self Documenting APIs using OpenAPI Standard (OAS) via <a href="swagger">Swagger</a>.</li>
                    <li>@Html.ActionLink("Versioned", "Versioning", "About") accessible and maintainable API endpoints using DTOs.</li>
                    <li>@Html.ActionLink("ODATA", "OData", "About") enhanced REST API endpoints.</li>
                </ul>
            </li>
            <li>
                Strong Design Patterns:
                <ul>
                    <li>Open Source Framework and Libraries</li>
                    <li>@Html.ActionLink("DDD Based Design", "Design", "About") at the Component level, for Maintainable and ADaptabible  
                    </li>
                    <li>SOLID development practices
                        <ul>
                            <li>Dependency Injection using StructureMap</li>
                        </ul>
                    </li>
                    <li>Automapper used to map between Logical Models and API Messsages</li>
                </ul>
            </li>
            <li>Logic and Functionality enforced using both Static and Dynamic Behaviour Driven Development (BDD) Test Contracts</li>
        </ul>
    </p>
    <p>
        <a href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read how this base solution was put together in order to understand how to build on top of it, saving time and expense.
        </p>
        <p>
            <a class="btn btn-default" href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get the code</h2>
        <p>The source code of this solution is available for free.</p>
        <p>
            <a class="btn btn-default" href="https://bitbucket.org/skysigal/app.core.application-on-mvc-webapi-net-framework">Learn more &raquo;</a>
        </p>
    </div>
</div>